@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      margin: 0;
      padding: 0 15px;
      background-color: #F1F8E9;
}

/*navigation style*/
#navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background-color: #080808;
      color: #7CB342;
      padding: 20px;
      overflow-y: auto;
}

#navbar header {
      font-size: 1.5em;
      margin-bottom: 20px;
      color: #009688;
      border-style: lines;
}

.nav-link {
      display: block;
      color: #e0e0e0;
      text-decoration: none;
      padding: 5px 0;
}

.nav-link:hover {
      background-color: #555;
}

/* main content styles */
#main-doc {
      margin-left: 220px;
      padding: 20px;
}

header {
      color: #009688;
      font-size: 2.5rem;
}

.main-section {
      margin-bottom: 40px;
}

.main-section header {
      font-size: 1.2em;
      margin-bottom: 10px;
}

/* Media Query for Responsive Design */
@media  screen and (max-width: 768px) {
      #navbar {
            width: 100%;
            height: auto;
            position: static;
      }
      #main-doc {
            margin-left: 0;
      }
}

.code-block {
      background-color: #e0e0e0;
      width: 60%;
      height: 100%;
      padding: 20px;
}

footer {
      text-align: center;
      font-size: 12px;
}